<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="dtdc" class="com.nt.comp.DTDC" scope="singleton"/>
	<bean id="bdart" class="com.nt.comp.BlueDart" scope="singleton" />
	
	<bean id="flkt" class="com.nt.comp.Flipkart">
		<property name="courier" ref="dtdc"></property>
	</bean>	

</beans>
