<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans-4.3.xsd">


	<bean class="org.springframework.jdbc.datasource.DriverManagerDataSource" id="dmds">
		<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver"/>
		<property name="url" value="jdbc:oracle:thin:@localhost:1521:orcl"/>
		<property name="username" value="akshay"/>
		<property name="password" value="akshay"/>
	
	</bean>
	
	<bean class="com.nt.dao.EmployeeDAOImpl" id="daoclass">
		
		<constructor-arg name="ds" ref="dmds"/>
	</bean>
	
	<bean class="com.nt.servise.EmployeeServiceImpl" id="serviceclass">
		<constructor-arg name="dao" ref="daoclass"></constructor-arg>
	</bean>
	
	<bean class="com.nt.controller.MainController" id="controller">
		<constructor-arg name="service" ref="serviceclass"/>
	</bean>
</beans>
